<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FCM_Library"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">

        <!--    TODO: maybe delete these 2 lines    -->
        <activity
            android:name=".running.RunningActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FCM_Library"

            android:excludeFromRecents="true"
            android:launchMode="singleTop"

            tools:ignore="RedundantLabel">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.amanotes.classicalpian.ACTION_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--        TODO: try to relocate these code to the module's manifest       -->
        <service
            android:name="com.revakovskyi.fcm_notification.AppNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
        <!--            android:resource="@drawvable/circle_notifications" />-->
        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.messaging.default_notification_color"-->
        <!--            android:resource="@color/notification_color" />-->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
<!--        <meta-data-->
<!--            android:name="firebase_analytics_collection_enabled"-->
<!--            android:value="false" />-->
        <!--                        -->

    </application>

</manifest>